@model Homeshare.Models.HomeViewModel
@{
    ViewBag.Title = "Property";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/css/property")
<br />
<div class="wrapper">
    <div class="product-img">
        <img src="~/images/Biens/@Model.TargetBien.IdMembre/@Model.TargetBien.Photo" height="220" width="327" style="margin-left : 20px; margin-top : 20px">
        <div style=" margin-left : 20px; margin-top : 20px">@Model.TargetBien.DescLong</div>   
        <div style="margin-left : 20px;">
            <br/>
            <a href="/Home/Index/">retour</a>
        </div>
    </div>
 
    <div class="product-info">
        <div class="product-text">
            <h1>@Model.TargetBien.Titre</h1>
            <h6>Rue @Model.TargetBien.Rue, @Model.TargetBien.Ville, @Model.TargetBien.Pays</h6>
            <p>
                @Model.TargetBien.DescCourte<br> Latidude : @Model.TargetBien.Latitude<br> Longitude : @Model.TargetBien.Longitude<br> Nombre de personnes : @Model.TargetBien.NombrePerson

                @if (@Model.TargetBien.AssuranceObligatoire)

                {
                    <h6>Assurance obligatoire</h6>
                }
                else
                {

                }

                @if (@Model.TargetBien.Note == 0)

                {
                    <h6>Pas encore de note</h6>
                }
                else
                {
                    <h6>Note: @Model.TargetBien.Note</h6>
                }
            </p>
        </div>
        <div class="product-price-btn">
            <button type="button">Je réserve</button>

        </div>

    </div>
</div>
<br />
