@model Homeshare.Models.BienEchangeModel

@{
    ViewBag.Title = "AddAProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/Member/Home/Index">Compte</a> / Ajoute un bien</span>
        <h2>Ajoute un bien</h2>
    </div>
</div>
<div class="container">
    <div class="spacer">
        <div class="row4 register">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input type="text" class="form-control" placeholder="Titre" name="Titre">
                    @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                    <input type="text" class="form-control" placeholder="Description courte" name="DescCourte">
                    @Html.ValidationMessageFor(model => model.DescCourte, "", new { @class = "text-danger" })
                    <input type="text" class="form-control" placeholder="Description longue" name="DescLong">
                    @Html.ValidationMessageFor(model => model.DescLong, "", new { @class = "text-danger" })
                    <label for="IdPays">Choisis le pays </label>
                    <select name="IdPays">

                        @foreach (Homeshare.Models.PaysListModel item in Model.PaysListModel)
                        {
                            <option value=@item.IdPays>@item.Libelle</option>
                        }
                    </select>
                    <br />
                    <input type="text" class="form-control" placeholder="Ville" name="Ville">
                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                    <input type="text" class="form-control" placeholder="Code postal" name="CodePostale">
                    @Html.ValidationMessageFor(model => model.CodePostale, "", new { @class = "text-danger" })
                    <input type="number" class="form-control" placeholder="Numéro" name="Numero">
                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                    <input type="text" class="form-control" placeholder="Rue" name="Rue">
                    @Html.ValidationMessageFor(model => model.Rue, "", new { @class = "text-danger" })
                    <input type="text" class="form-control" placeholder="Photo" name="Photo">
                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                    <label for="NombrePerson">Capacité </label>
                    <select name="NombrePerson">

                        @for (int i = 1; i < 11; i++)
                        {
                            <option value=@i>@i</option>
                        }

                    </select>
                    <br />
                    Assurance obligatoire
                    <input type="checkbox" class="form-control" placeholder="Assurance obligatoire" name="AssuranceObligatoire">
                    Disponible
                    @Html.ValidationMessageFor(model => model.AssuranceObligatoire, "", new { @class = "" })
                    <input type="checkbox" class="form-control" placeholder="Is Enabled" name="IsEnabled">
                    @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                    <input type="number" class="form-control" placeholder="Latitude" name="Latitude">
                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                    <input type="number" class="form-control" placeholder="Longitude" name="Longitude">
                    @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                    <button type="submit" class="btn btn-success" name="Submit">Publier</button>
                </form>

                <div>

                </div>
                <br/>
                @Html.ActionLink("Retour", "Index")
            </div>

        </div>
    </div>
</div>