@model Homeshare.Models.AreaViewModel

@{
    ViewBag.Title = "AddAProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Add a Property</h1>
<form method="post">
    @Html.AntiForgeryToken()
    Title: <input type="text" class="form-control" placeholder="Title" name="Titre">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.Titre, "", new { @class = "text-danger" })
    Short Description: <input type="text" class="form-control" placeholder="Short Description" name="DescCourte">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.DescCourte, "", new { @class = "text-danger" })
    Description: <input type="text" class="form-control" placeholder="Description" name="DescLong">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.DescLong, "", new { @class = "text-danger" })
    <label for="IdPays">Choose a country: </label>
    <select name="IdPays">

        @foreach (Homeshare.Models.PaysListModel item in Model.PaysListModel)
        {
            <option value=@item.IdPays>@item.Libelle</option>
        }
    </select>
    <br />
    City: <input type="text" class="form-control" placeholder="City" name="Ville">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.Ville, "", new { @class = "text-danger" })
    CP: <input type="text" class="form-control" placeholder="CP" name="CodePostale">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.CodePostale, "", new { @class = "text-danger" })
    Number: <input type="number" class="form-control" placeholder="Number" name="Numero">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.Numero, "", new { @class = "text-danger" })
    Rue: <input type="text" class="form-control" placeholder="Street" name="Rue">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.Rue, "", new { @class = "text-danger" })
    Photo: <input type="text" class="form-control" placeholder="Photo" name="Photo">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.Photo, "", new { @class = "text-danger" })
    <label for="NombrePerson">People: </label>
    <select name="NombrePerson">

        @for (int i = 1; i < 11; i++)
        {
            <option value=@i>@i</option>
        }

    </select>
    <br />
    Insurance: <input type="checkbox" class="form-control" placeholder="Insurance" name="AssuranceObligatoire">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.AssuranceObligatoire, "", new { @class = "text-danger" })
    Is Enabled: <input type="checkbox" class="form-control" placeholder="Is Enabled" name="IsEnabled">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.IsEnabled, "", new { @class = "text-danger" })
    DisabledDate: <input type="date" class="form-control" placeholder="Disabled Date" name="DisabledDate">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.DisabledDate, "", new { @class = "text-danger" })
    Latitude: <input type="number" class="form-control" placeholder="Latitude" name="Latitude">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.Latitude, "", new { @class = "text-danger" })
    Longitude: <input type="number" class="form-control" placeholder="Longitude" name="Longitude">
    @Html.ValidationMessageFor(model => model.BienEchangeModel.Longitude, "", new { @class = "text-danger" })

    <button type="submit" class="btn btn-success" name="Submit">Publish</button>
</form>

<div>
    @Html.ActionLink("Back to My Profile", "Index")
</div>
