@{
    ViewBag.Title = "MyProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/bienMember")
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/Member/Home/Index">Compte</a> / Mes biens</span>
        <h2>Mes biens</h2>
    </div>
</div>
<br/>
<br />
<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
        </div>
    </div>
    <div class="row2">
        <div class="col-lg-8 mx-auto">

            <!-- List group-->
            <ul class="list-group shadow">

                <!-- list group item-->
                @foreach (Homeshare.Models.BienEchangeModel item in Model)
                {
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2 color-green text-success">@item.Titre</h5>
                                <h3 class=" text-muted mb-0 small">Nombre personnes : @item.NombrePerson | Latitude : @item.Latitude | Longitude : @item.Longitude</h3>
                                <h5 class="mt-0 font-weight-bold mb-2 color-green text-success">Description</h5>
                                <h4 class=" text-muted mb-0 small">@item.DescLong</h4>

                                <h5 class="mt-0 font-weight-bold mb-2 color-green text-success">Adresse</h5>
                                <h3 class=" text-muted mb-0 small"> Rue @item.Rue @item.Numero, @item.Ville, @item.Pays</h3>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2"></h6>
                                    <ul class="list-inline small">
                                        @if (@item.AssuranceObligatoire == true)
                                        {
                                            @:<li class="text-muted mb-0 small">Assurance obligatoire</li>
                                        }
                                        else
                                        {
                                            @:<li class="text-muted mb-0 small"></li>
                                        }


                                    </ul>
                                </div>
                            </div>
                            @*</div><img class="im" src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">*@
                        </div> <!-- End -->
                    </li>
                }
            </ul> <!-- End -->
            <br />
            <a href="/Member/Home/Index">Back</a>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

